#pertDiagram {
  height: 600px;
  width: 100%;
  border: 1px solid lightgray;
  margin-bottom: 1em;
}

.container {
  padding-top: 5em;
}

#timeline {
  margin-top: 2em;
}

.new-activity-panel {
  max-width: 50em;
  margin: 0 auto 2em auto;
}

.input-group.dependencies {
  margin-bottom: 1em;
}

.input-group.duration {
  margin-top: 1em;
  margin-bottom: 1em;
}

span.github {
  margin-top: .75em;
}
span.github a {
  color: black;
  text-decoration: none;
}

span.github a:hover {
  color: black; 
  text-decoration:none; 
  cursor:pointer;  
}

@media(max-width: 765px){
  span.github { display: none }
} 

@media(min-width: 766px){
  li.github { display: none }
}

#ta {
  margin: 1em 0 1em 0;
}

#tab {
  max-width: 40em;
  margin: 0 auto 0 auto;
}
